<template>
  <v-card class="pa-4" id="additional-info" style="background-color: #CCDEF3;">
    <v-layout column wrap>
      
      <v-flex xs12>
        <card-header
          :titles="items" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 justify-center text-xs-center align-center">
          <v-flex xs12 md4 lg4>
            <card-text :text="part72.noneCheckBox.title" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part72.noneCheckBox.model" :field="part72.noneCheckBox.field" :checkBoxItems="part72.noneCheckBox.items" :label="part72.noneCheckBox.label" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part72.noneCheckBox1.model" :field="part72.noneCheckBox1.field" :checkBoxItems="part72.noneCheckBox1.items" :label="part72.noneCheckBox1.label" />
          </v-flex>

          <v-flex xs12 md4 lg4>
            <global v-model="part72.noneArea.model" :field="part72.noneArea.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="my-3 justify-center text-xs-center align-center">
          <v-flex xs12 md4 lg4>
            <card-text :text="part73.movementCheckBox.title" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part73.movementCheckBox.model" :field="part73.movementCheckBox.field" :checkBoxItems="part73.movementCheckBox.items" :label="part73.movementCheckBox.label" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part73.movementCheckBox1.model" :field="part73.movementCheckBox1.field" :checkBoxItems="part73.movementCheckBox1.items" :label="part73.movementCheckBox1.label" />
          </v-flex>

          <v-flex xs12 md4 lg4>
            <global v-model="part73.movementArea.model" :field="part73.movementArea.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="my-3 justify-center text-xs-center align-center">
          <v-flex xs12 md4 lg4>
            <card-text :text="part74.movement1CheckBox.title" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part74.movement1CheckBox.model" :field="part74.movement1CheckBox.field" :checkBoxItems="part74.movement1CheckBox.items" :label="part74.movement1CheckBox.label" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part74.movement1CheckBox1.model" :field="part74.movement1CheckBox1.field" :checkBoxItems="part74.movement1CheckBox1.items" :label="part74.movement1CheckBox1.label" />
          </v-flex>

          <v-flex xs12 md4 lg4>
            <global v-model="part74.movement1Area.model" :field="part74.movement1Area.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="my-3 justify-center text-xs-center align-center">
          <v-flex xs12 md4 lg4>
            <card-text :text="part75.movement2CheckBox.title" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part75.movement2CheckBox.model" :field="part75.movement2CheckBox.field" :checkBoxItems="part75.movement2CheckBox.items" :label="part75.movement2CheckBox.label" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part75.movement2CheckBox1.model" :field="part75.movement2CheckBox1.field" :checkBoxItems="part75.movement2CheckBox1.items" :label="part75.movement2CheckBox1.label" />
          </v-flex>

          <v-flex xs12 md4 lg4>
            <global v-model="part75.movement2Area.model" :field="part75.movement2Area.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="my-3 justify-center text-xs-center align-center">
          <v-flex xs12 md4 lg4>
            <card-text :text="part76.swellingCheckBox.title" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part76.swellingCheckBox.model" :field="part76.swellingCheckBox.field" :checkBoxItems="part76.swellingCheckBox.items" :label="part76.swellingCheckBox.label" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part76.swellingCheckBox1.model" :field="part76.swellingCheckBox1.field" :checkBoxItems="part76.swellingCheckBox1.items" :label="part76.swellingCheckBox1.label" />
          </v-flex>

          <v-flex xs12 md4 lg4>
            <global v-model="part76.swellingArea.model" :field="part76.swellingArea.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="my-3 justify-center text-xs-center align-center">
          <v-flex xs12 md4 lg4>
            <card-text :text="part77.deformityCheckBox.title" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part77.deformityCheckBox.model" :field="part77.deformityCheckBox.field" :checkBoxItems="part77.deformityCheckBox.items" :label="part77.deformityCheckBox.label" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part77.deformityCheckBox1.model" :field="part77.deformityCheckBox1.field" :checkBoxItems="part77.deformityCheckBox1.items" :label="part77.deformityCheckBox1.label" />
          </v-flex>

          <v-flex xs12 md4 lg4>
            <global v-model="part77.deformityArea.model" :field="part77.deformityArea.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="my-3 justify-center text-xs-center align-center">
          <v-flex xs12 md4 lg4>
            <card-text :text="part78.interferenceCheckBox.title" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part78.interferenceCheckBox.model" :field="part78.interferenceCheckBox.field" :checkBoxItems="part78.interferenceCheckBox.items" :label="part78.interferenceCheckBox.label" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part78.interferenceCheckBox1.model" :field="part78.interferenceCheckBox1.field" :checkBoxItems="part78.interferenceCheckBox1.items" :label="part78.interferenceCheckBox1.label" />
          </v-flex>

          <v-flex xs12 md4 lg4>
            <global v-model="part78.interferenceArea.model" :field="part78.interferenceArea.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="my-3 justify-center text-xs-center align-center">
          <v-flex xs12 md4 lg4>
            <card-text :text="part79.interference1CheckBox.title" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part79.interference1CheckBox.model" :field="part79.interference1CheckBox.field" :checkBoxItems="part79.interference1CheckBox.items" :label="part79.interference1CheckBox.label" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part79.interference1CheckBox1.model" :field="part79.interference1CheckBox1.field" :checkBoxItems="part79.interference1CheckBox1.items" :label="part79.interference1CheckBox1.label" />
          </v-flex>

          <v-flex xs12 md4 lg4>
            <global v-model="part79.interference1Area.model" :field="part79.interference1Area.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="my-3 justify-center text-xs-center align-center">
          <v-flex xs12 md4 lg4>
            <card-text :text="part80.atrophyCheckBox.title" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part80.atrophyCheckBox.model" :field="part80.atrophyCheckBox.field" :checkBoxItems="part80.atrophyCheckBox.items" :label="part80.atrophyCheckBox.label" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part80.atrophyCheckBox1.model" :field="part80.atrophyCheckBox1.field" :checkBoxItems="part80.atrophyCheckBox1.items" :label="part80.atrophyCheckBox1.label" />
          </v-flex>

          <v-flex xs12 md4 lg4>
            <global v-model="part80.atrophyArea.model" :field="part80.atrophyArea.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="my-3 justify-center text-xs-center align-center">
          <v-flex xs12 md4 lg4>
            <card-text :text="part81.instabilityCheckBox.title" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part81.instabilityCheckBox.model" :field="part81.instabilityCheckBox.field" :checkBoxItems="part81.instabilityCheckBox.items" :label="part81.instabilityCheckBox.label" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part81.instabilityCheckBox1.model" :field="part81.instabilityCheckBox1.field" :checkBoxItems="part81.instabilityCheckBox1.items" :label="part81.instabilityCheckBox1.label" />
          </v-flex>

          <v-flex xs12 md4 lg4>
            <global v-model="part81.instabilityArea.model" :field="part81.instabilityArea.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="my-3 justify-center text-xs-center align-center">
          <v-flex xs12 md4 lg4>
            <card-text :text="part82.disturbanceCheckBox.title" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part82.disturbanceCheckBox.model" :field="part82.disturbanceCheckBox.field" :checkBoxItems="part82.disturbanceCheckBox.items" :label="part82.disturbanceCheckBox.label" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part82.disturbanceCheckBox1.model" :field="part82.disturbanceCheckBox1.field" :checkBoxItems="part82.disturbanceCheckBox1.items" :label="part82.disturbanceCheckBox1.label" />
          </v-flex>

          <v-flex xs12 md4 lg4>
            <global v-model="part82.disturbanceArea.model" :field="part82.disturbanceArea.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="my-3 justify-center text-xs-center align-center">
          <v-flex xs12 md4 lg4>
            <global v-model="part83.othersText.model" :field="part83.othersText.field" :inputType="part83.othersText.type" :label="part83.othersText.label" />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part83.othersCheckBox.model" :field="part83.othersCheckBox.field" :checkBoxItems="part83.othersCheckBox.items"  />
          </v-flex>

          <v-flex xs12 md2 lg2>
            <global class="mx-5 px-4" v-model="part83.othersCheckBox1.model" :field="part83.othersCheckBox1.field" :checkBoxItems="part83.othersCheckBox1.items" :label="part83.othersCheckBox1.label" />
          </v-flex>

          <v-flex xs12 md4 lg4>
            <global v-model="part83.disturbanceArea.model" :field="part83.disturbanceArea.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
  import CardHeader from '@/components/props/CardHeader'
  import CardText from '@/components/props/CardText'
  import Global from '@/components/props/Global'

  // mixins
  import knee from '@/constants/knee'

  export default {
    components: {
      CardText,
      CardHeader,
      Global
    },
    mixins: [knee],
    data: () => ({
      items: [
        {
          title: '',
          flex: 'xs12 md4 lg4'
        },
        {
          title: 'Right',
          flex: 'xs12 md2 lg2'
        },
        {
          title: 'Left',
          flex: 'xs12 md2 lg2'
        },
        {
          title: 'Describe',
          flex: 'xs12 md4 lg4'
        }
      ]
    }),
    methods: {
      testPayload () {
        let payload = {}
        global._.each(this.part72, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        global._.each(this.part73, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        global._.each(this.part74, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        global._.each(this.part75, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        global._.each(this.part76, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        global._.each(this.part77, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        global._.each(this.part78, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        global._.each(this.part79, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        global._.each(this.part80, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        global._.each(this.part81, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        global._.each(this.part82, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        global._.each(this.part83, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        console.log(payload)
      }
    }
  }
</script>