<template>
  <v-card class="pa-4" id="additional-question-info" style="background-color: #CCDEF3;">
    <v-layout column wrap>

      <v-flex xs12>
        <card-text :text="part94.serviceDiagnosis.title" />
        <global v-model="part94.serviceDiagnosis.model" :field="part94.serviceDiagnosis.field" />
      </v-flex>

      <v-flex xs12>
        <v-divider />
        <card-header
          :titles="items" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 justify-center text-xs-center align-center">
          <v-flex xs12 md4>
            <global v-model="part95.claimText.model" :field="part95.claimText.field" :inputType="part95.claimText.type"/>
          </v-flex>
          
          <v-flex xs12 md4>
            <global v-model="part95.claimSelect.model" :field="part95.claimSelect.field" :choices="arrayItems"/>
          </v-flex>

          <v-flex xs12 md4>
            <global v-model="part95.claimText1.model" :field="part95.claimText1.field" :inputType="part95.claimText1.type"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
  import CardHeader from '@/components/props/CardHeader'
  import CardText from '@/components/props/CardText'
  import Global from '@/components/props/Global'

  // mixins
  import knee from '@/constants/knee'

  export default {
    components: {
      CardHeader,
      CardText,
      Global
    },
    mixins: [knee],
    data: () => ({
      arrayItems: [
        'A. There is no change in the service connected diagnosis and no Additional diagnosis have been rendered.',
        'B. The new diagnosis is a correction of the previous diagnosis',
        'C. There is a worsening of the veterans symptoms however no change to the service connected diagnosis and no additional diagnosis have been rendered.',
        'D. Additional Condition were found which are directly due to or related to the service connected diagnosis (i.e. a progression)',
        'E. Additional conditions were found which are unrelated to the service connected diagnosis (i.e. a new and separate condition).For option e, please specify which of the veterans symptoms and or findings correspond with each diagnosis, if feasible.',
        'F. The service connected diagnosis has resolved.',
        'Select Option',
        'Not Applicable'
      ],
      items: [
        {
          title: 'New Claim/Additional Diagnoses:',
          flex: 'xs12 md4'
        },
        {
          title: 'Choose From the Selection',
          flex: 'xs12 md4'
        },
        {
          title: 'Rationale',
          flex: 'xs12 md4'
        }
      ]
    }),
    methods: {
      testPayload () {
        let payload = {}
        global._.each(this.part94, function (value, key) {
          payload[key] = value.model
        })
        global._.each(this.part95, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        console.log(payload)
      }
    }
  }
</script>
