<template>
  <v-card class="pa-4" id="assistive-info" style="background-color: #CCDEF3;">
    <v-layout column wrap>

      <v-flex xs12>
        <card-header
          :titles="items" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class=" mt-3 text-xs-center align-center">
          <v-flex xs12 md2>
            <card-text text="Wheelchair" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="assistive.wheelchairSelect" :choices="arrayItems" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="assistive.wheelchairSelect1" :choices="arrayItems" />
          </v-flex>

          <v-flex xs12 md4>
            <global field="textarea" v-model="assistive.wheelchairArea" />
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class=" mt-3 text-xs-center align-center">
          <v-flex xs12 md2>
            <card-text text="Brace" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="assistive.braceSelect" :choices="arrayItems" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="assistive.braceSelect1" :choices="arrayItems"/>
          </v-flex>

          <v-flex xs12 md4>
            <global field="textarea" v-model="assistive.braceArea" />
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class=" mt-3 text-xs-center align-center">
          <v-flex xs12 md2>
            <card-text text="Crutches" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="assistive.crutchesSelect" :choices="arrayItems" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="assistive.crutchesSelect1" :choices="arrayItems"/>
          </v-flex>

          <v-flex xs12 md4>
            <global field="textarea" v-model="assistive.crutchesArea" />
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class=" mt-3 text-xs-center align-center">
          <v-flex xs12 md2>
            <card-text text="Cane" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="assistive.caneSelect" :choices="arrayItems" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="assistive.caneSelect1" :choices="arrayItems"/>
          </v-flex>

          <v-flex xs12 md4>
            <global field="textarea" v-model="assistive.caneArea" />
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class=" mt-3 text-xs-center align-center">
          <v-flex xs12 md2>
            <card-text text="Walker" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="assistive.walkerSelect" :choices="arrayItems" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="assistive.walkerSelect1" :choices="arrayItems"/>
          </v-flex>

          <v-flex xs12 md4>
            <global field="textarea" v-model="assistive.walkereArea" />
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class=" mt-3 text-xs-center align-center">
          <v-flex xs12 md2>
            <global field="textfield" v-model="assistive.othersTypeText" inputType="text"/>
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="assistive.othersSelect" :choices="arrayItems" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="assistive.othersSelect1" :choices="arrayItems"/>
          </v-flex>

          <v-flex xs12 md4>
            <global field="textarea" v-model="assistive.othersArea" />
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
  import CardHeader from '@/components/props/CardHeader'
  import CardText from '@/components/props/CardText'
  import Global from '@/components/props/Global'
  export default {
    components: {
      CardText,
      CardHeader,
      Global
    },
    data: () => ({
      arrayItems: [
        'not used',
        'used constantly',
        'used regularly',
        'used occasionally',
        'N/A'
      ],
      items: [
        {
          title: '',
          flex: 'xs12 md2'
        },
        {
          title: 'Right',
          flex: 'xs12 md3'
        },
        {
          title: 'Left',
          flex: 'xs12 md3'
        },
        {
          title: 'Comments',
          flex: 'xs12 md4'
        }
      ],
      assistive: {
        wheelchairSelect: '',
        wheelchairSelect1: '',
        wheelchairArea: '',
        braceSelect: '',
        braceSelect1: '',
        braceArea: '',
        crutchesSelect: '',
        crutchesSelect1: '',
        crutchesArea: '',
        caneSelect: '',
        caneSelect1: '',
        caneArea: '',
        walkerSelect: '',
        walkerSelect1: '',
        walkereArea: '',
        othersTypeText: '',
        othersSelect: '',
        othersSelect1: '',
        othersArea: ''
      }
    }),
    methods: {
      testPayload () {
        console.log(this.assistive)
      }
    }
  }
</script>