<template>
  <v-card class="pa-4" id="diagnostic-info" style="background-color: #CCDEF3;">
    <v-layout column wrap>
      
      <v-flex xs12>
        <card-header
          :titles="items"/>
      </v-flex>
  
      <v-flex xs12>
        <v-layout row wrap class="text-xs-center align-center">
          <v-flex xs12 md2>
            <card-text text="X-RAYS" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="dateField" v-model="diagnostic.xRaysDate" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="diagnostic.xRaysDateSelect" :choices="arrayItems"/>
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="diagnostic.xRaysArea" />
          </v-flex>

          <v-flex xs12 md1>
            <global field="textfield" v-model="diagnostic.xRaysTypeNumber" inputType="number" />
          </v-flex>
        </v-layout>
        <v-divider class="pa-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="text-xs-center align-center">
          <v-flex xs12 md2>
            <card-text text="MRI" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="dateField" v-model="diagnostic.mriDate" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="diagnostic.mriSelect" :choices="arrayItems"/>
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="diagnostic.mriArea" />
          </v-flex>

          <v-flex xs12 md1>
            <global field="textfield" v-model="diagnostic.mriTypeNumber" inputType="number" />
          </v-flex>
        </v-layout>
        <v-divider class="pa-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="text-xs-center align-center">
          <v-flex xs12 md2>
            <card-text text="CT SCAN" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="dateField" v-model="diagnostic.ctScanDate" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="diagnostic.ctScanSelect" :choices="arrayItems"/>
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="diagnostic.ctScanArea" />
          </v-flex>

          <v-flex xs12 md1>
            <global field="textfield" v-model="diagnostic.ctScanTypeNumber" inputType="number"/>
          </v-flex>
        </v-layout>
        <v-divider class="pa-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="text-xs-center align-center">
          <v-flex xs12 md2>
            <global field="textfield" v-model="diagnostic.othersTypeText" inputType="text" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="dateField" v-model="diagnostic.othersDate" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="diagnostic.othersSelect" :choices="arrayItems"/>
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="diagnostic.othersArea" />
          </v-flex>

          <v-flex xs12 md1>
            <global field="textfield" v-model="diagnostic.othersTypeNumber"inputType="number" />
          </v-flex>
        </v-layout>
        <v-divider class="pa-2"/>
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
  import CardHeader from '@/components/props/CardHeader'
  import CardText from '@/components/props/CardText'
  import Global from '@/components/props/Global'
  export default {
    components: {
      CardHeader,
      CardText,
      Global
    },
    data: () => ({
      arrayItems: ['Right knee', 'Left knee', 'Both knees', 'No', 'N/A'],
      items: [
        {
          title: 'TYPE OF TEST',
          flex: 'xs12 md2'
        },
        {
          title: 'DATE',
          flex: 'xs12 md3'
        },
        {
          title: 'LATERALITY',
          flex: 'xs12 md3'
        },
        {
          title: 'FINDINGS',
          flex: 'xs12 md3'
        },
        {
          title: 'PAGE',
          flex: 'xs12 md1'
        }
      ],
      diagnostic: {
        xRaysDate: '',
        xRaysDateSelect: '',
        xRaysArea: '',
        xRaysTypeNumber: '',
        mriDate: '',
        mriSelect: '',
        mriArea: '',
        mriTypeNumber: '',
        ctScanDate: '',
        ctScanSelect: '',
        ctScanArea: '',
        ctScanTypeNumber: '',
        othersTypeText: '',
        othersDate: '',
        othersSelect: '',
        othersArea: '',
        othersTypeNumber: ''
      }
    }),
    methods: {
      testPayload () {
        console.log(this.diagnostic)
      }
    }
  }
</script>