<template>
  <v-card class="pa-4" id="functional-impact-info" style="background-color: #CCDEF3;">
    <v-layout column wrap>

      <v-flex xs12>
        <card-header
          :titles="items" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 justify-center text-xs-center align-center">
          <v-flex xs12 md3>
            <card-text :text="part86.noneImpackCheckBox.title" />
          </v-flex>

          <v-flex xs12 md3>
            <global class="mx-5 px-4" v-model="part86.noneImpackCheckBox.model" :field="part86.noneImpackCheckBox.field" :checkBoxItems="part86.noneImpackCheckBox.items" />
          </v-flex>

          <v-flex xs12 md3>
            <global class="mx-5 px-4" v-model="part86.noneImpackCheckBox1.model" :field="part86.noneImpackCheckBox1.field" :checkBoxItems="part86.noneImpackCheckBox1.items" />
          </v-flex>

          <v-flex xs12 md3>
            <global v-model="part86.noneImpackArea.model" :field="part86.noneImpackArea.field" />
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 justify-center text-xs-center align-center">
          <v-flex xs12 md3>
            <card-text :text="part87.title" />
          </v-flex>

          <v-flex xs12 md3>
            <global class="mx-5 px-4" v-model="part87.movementCheckBox.model" :field="part87.movementCheckBox.field" :checkBoxItems="part87.movementCheckBox.items" />
          </v-flex>

          <v-flex xs12 md3>
            <global class="mx-5 px-4" v-model="part87.movementCheckBox1.model" :field="part87.movementCheckBox1.field" :checkBoxItems="part87.movementCheckBox1.items"  />
          </v-flex>

          <v-flex xs12 md3>
            <global v-model="part87.movementArea.model" :field="part87.movementArea.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 justify-center text-xs-center align-center">
          <v-flex xs12 md3>
            <card-text :text="part88.legsCheckBox.title" />
          </v-flex>

          <v-flex xs12 md3>
            <global class="mx-5 px-4" v-model="part88.legsCheckBox.model" :field="part88.legsCheckBox.field" :checkBoxItems="part88.legsCheckBox.items"  />
          </v-flex>

          <v-flex xs12 md3>
            <global class="mx-5 px-4" v-model="part88.legsCheckBox1.model" :field="part88.legsCheckBox1.field" :checkBoxItems="part88.legsCheckBox1.items" />
          </v-flex>

          <v-flex xs12 md3>
            <global v-model="part88.legsArea.model" :field="part88.legsArea.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 justify-center text-xs-center align-center">
          <v-flex xs12 md3>
            <card-text :text="part89.weightCheckBox.title" />
          </v-flex>

          <v-flex xs12 md3>
            <global class="mx-5 px-4" v-model="part89.weightCheckBox.model" :field="part89.weightCheckBox.field" :checkBoxItems="part89.weightCheckBox.items"  />
          </v-flex>

          <v-flex xs12 md3>
            <global class="mx-5 px-4" v-model="part89.weightCheckBox1.model" :field="part89.weightCheckBox1.field" :checkBoxItems="part89.weightCheckBox1.items"  />
          </v-flex>

          <v-flex xs12 md3>
            <global v-model="part89.weightArea.model" :field="part89.weightArea.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 justify-center text-xs-center align-center">
          <v-flex xs12 md3>
            <card-text :text="part90.standingCheckBox.title" />
          </v-flex>

          <v-flex xs12 md3>
            <global class="mx-5 px-4" v-model="part90.standingCheckBox.model" :field="part90.standingCheckBox.field" :checkBoxItems="part90.standingCheckBox.items" />
          </v-flex>

          <v-flex xs12 md3>
            <global class="mx-5 px-4" v-model="part90.standingCheckBox1.model" :field="part90.standingCheckBox1.field" :checkBoxItems="part90.standingCheckBox1.items" />
          </v-flex>

          <v-flex xs12 md3>
            <global v-model="part90.standingArea.model" :field="part90.standingArea.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 justify-center text-xs-center align-center">
          <v-flex xs12 md3>
            <card-text :text="part91.sittingCheckBox.title" />
          </v-flex>

          <v-flex xs12 md3>
            <global class="mx-5 px-4" v-model="part91.sittingCheckBox.model" :field="part91.sittingCheckBox.field" :checkBoxItems="part91.sittingCheckBox.items" />
          </v-flex>

          <v-flex xs12 md3>
            <global class="mx-5 px-4" v-model="part91.sittingCheckBox1.model" :field="part91.sittingCheckBox1.field" :checkBoxItems="part91.sittingCheckBox1.items" />
          </v-flex>

          <v-flex xs12 md3>
            <global v-model="part91.sittingArea.model" :field="part91.sittingArea.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 justify-center text-xs-center align-center">
          <v-flex xs12 md3>
            <global v-model="part92.othersText.model" :field="part92.othersText.field" :label="part92.othersText.label" :inputType="part92.othersText.type"/>
          </v-flex>

          <v-flex xs12 md3>
            <global class="mx-5 px-4" v-model="part92.othersCheckBox.model" :field="part92.othersCheckBox.field" :checkBoxItems="part92.othersCheckBox.items" />
          </v-flex>

          <v-flex xs12 md3>
            <global class="mx-5 px-4" v-model="part92.othersCheckBox1.model" :field="part92.othersCheckBox1.field" :checkBoxItems="part92.othersCheckBox1.items" />
          </v-flex>

          <v-flex xs12 md3>
            <global v-model="part92.othersArea.model" :field="part92.othersArea.field"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
  import CardHeader from '@/components/props/CardHeader'
  import CardText from '@/components/props/CardText'
  import Global from '@/components/props/Global'

  // mixins
  import knee from '@/constants/knee'

  export default {
    components: {
      CardText,
      CardHeader,
      Global
    },
    mixins: [knee],
    data: () => ({
      placeholder: 'Others, describe',
      items: [
        {
          title: 'Limitations',
          flex: 'xs12 md3'
        },
        {
          title: 'Right',
          flex: 'xs12 md3'
        },
        {
          title: 'Left',
          flex: 'xs12 md3'
        },
        {
          title: 'Remarks',
          flex: 'xs12 md3'
        }
      ]
    }),
    methods: {
      testPayload () {
        let payload = {}
        global._.each(this.part86, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        global._.each(this.part87, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        global._.each(this.part88, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        global._.each(this.part89, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        global._.each(this.part90, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        global._.each(this.part91, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        global._.each(this.part92, function (value, key) {
          global._.each(value, function (value, key) {
            payload[key] = value.model
          })
        })
        console.log(payload)
      }
    }
  }
</script>