<template>
  <v-card class="pa-4" id="joint-stability-info" style="background-color: #CCDEF3;">
    <v-layout column wrap>

      <v-flex xs12>
        <card-header
          :titles="items" />
      </v-flex>
      
      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="LACHMAN TEST (ANTERIOR INSTABILITY)" />
            <small class="ml-3"><a href="">click link to watch video demo</a></small>
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="align-center">
              <v-flex xs12 md4>
                <global field="select" v-model="joint.lachmanTestSelect" :choices="arrayItems" />
              </v-flex>

              <v-flex xs12 md4>
                <global field="select" v-model="joint.lachmanTestSelect1" :choices="arrayItems" />
              </v-flex>

              <v-flex>
                <global field="textarea" v-model="joint.lachmanTestArea" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="POSTERIOR INSTABILITY (POSTERIOR DRAWER TEST)" />
            <small class="ml-3"><a href="">click link to watch video demo</a></small>
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="joint.posteriorTestSelect" :choices="arrayItems" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="joint.posteriorTestSelect1" :choices="arrayItems" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="joint.posteriorTestArea" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="MEDIAL INSTABILITY (VALGUS STRESS TEST FOR MCL INJURY)'" />
            <small class="ml-3"><a href="">click link to watch video demo</a></small>
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="joint.medialTestSelect" :choices="arrayItems" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="joint.medialTestSelect1" :choices="arrayItems" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="joint.medialTestArea" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="LATERAL INSTABILITY (VARUS STRESS TEST FOR LCL INJURY)
        " />
            <small class="ml-3"><a href="">click link to watch video demo</a></small>
          </v-flex>
          
          <v-flex xs12 md3>
            <global field="select" v-model="joint.lateralTestSelect" :choices="arrayItems" />
          </v-flex>
          
          <v-flex xs12 md3>
            <global field="select" v-model="joint.lateralTestSelect1" :choices="arrayItems" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="joint.lateralTestArea" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
  import CardHeader from '@/components/props/CardHeader'
  import CardText from '@/components/props/CardText'
  import Global from '@/components/props/Global'
  export default {
    components: {
      CardHeader,
      CardText,
      Global
    },
    data: () => ({
      arrayItems: [
        'N/A',
        'NOrmal',
        '1+(0-5 mm)',
        '2+(5-10 mm)',
        '3+(10-15 mm)',
        'unable to test'
      ],
      items: [
        {
          title: '',
          flex: 'xs12 md3'
        },
        {
          title: 'RIGHT KNEE',
          flex: 'xs12 md3'
        },
        {
          title: 'LEFT KNEE',
          flex: 'xs12 md3'
        },
        {
          title: 'remarksModel',
          flex: 'xs12 md3'
        }
      ],
      joint: {
        lachmanTestSelect: '',
        lachmanTestSelect1: '',
        lachmanTestArea: '',
        posteriorTestSelect: '',
        posteriorTestSelect1: '',
        posteriorTestArea: '',
        medialTestSelect: '',
        medialTestSelect1: '',
        medialTestArea: '',
        lateralTestSelect: '',
        lateralTestSelect1: '',
        lateralTestArea: ''
      }
    }),
    methods: {
      testPayload () {
        console.log(this.joint)
      }
    }
  }
</script>