<template>
  <v-card flat>
    <v-layout row wrap class="pt-3">
      <v-flex xs2 md3>
        <v-navigation-drawer
          v-model="drawer"
          permanent
          absolute
          floating
          mobile-break-point
          permanent
          stateless
          class="ml-2 card-index">
          <v-list>
            <v-list-tile
              value="true"
              v-for="(item, index) in scrollto"
              :key="index"
              class="pointer image black--text">
              <v-list-tile-content class="pointer">
                <v-list-tile-title
                  v-scroll-to="{el: item.el ,offset: item.offset}"
                  class="font-weight-medium subheading black--text"
                   v-text="item.title" />
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-navigation-drawer>
      </v-flex>

      <v-flex xs10 md9>
        <v-flex>
          <card-title class="card-border" title="Medical History" />
          <medical-information />
        </v-flex>

        <v-flex>
          <card-title title="Does the veteran have a history of any of the following conditions" />
          <veterans-information />
        </v-flex>

        <v-flex>
          <card-title title="Diagnostic Test/s" />
          <diagnostic-information />
        </v-flex>

        <v-flex>
          <card-title title="Surgical Procedure/s" />
          <surgical-information />
        </v-flex>

        <v-flex>
          <card-title title="Assistive Device" />
          <assistive-information />
        </v-flex>

        <v-flex>
          <card-title title="Initial Range of Motion" />
          <motion-information />
        </v-flex>

        <v-flex>
          <card-title title="Joint Stability Tests" />
          <joint-stability-information />
        </v-flex>

        <v-flex>
          <card-title title="Other Physical Exam Findings" />
          <other-exam-information />
        </v-flex>

        <v-flex>
          <card-title title="Ankylosis" />
          <ankylosis-information />
        </v-flex>

        <v-flex>
          <card-title title="Repeated Use Overtime" />
          <repeated-use-information />
        </v-flex>

        <v-flex>
          <card-title title="Flare Ups" />
          <flare-ups-information />
        </v-flex>

        <v-flex>
          <card-title title="Additional Factors Contributing to Disablity" />
          <additional-information />
        </v-flex>

        <v-flex>
          <card-title title="Other Pertinent Physical Findings, Complications, Conditions, Signs, Symptoms" />
          <other-information />
        </v-flex>

        <v-flex>
          <card-title title="Remaining effective function of the extremities" />
          <remaining-function-information />
        </v-flex>

        <v-flex>
          <card-title title="Functional Impact" />
          <functional-impact-information />
        </v-flex>

        <v-flex>
          <card-title title="Remarks" />
          <remarks-information />
        </v-flex>

        <v-flex>
          <card-title title="Additional Questions" />
          <additional-question-information />
        </v-flex>

        <v-flex>
          <card-title title="Rationale (For options other than A)" />
          <rationale-information />
        </v-flex>
        
        <v-btn
          style="background-color: #2A457E;"
          v-model="fab"
          dark
          fab
          fixed
          bottom
          right
          large
          class="float"
          @click="scrollToTop">
          <v-icon class="white--text">{{ icon }}</v-icon>
        </v-btn>
        
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
  import AdditionalInformation from './AdditionalInformation'
  import AdditionalQuestionInformation from './AdditionalQuestionInformation'
  import AnkylosisInformation from './AnkylosisInformation'
  import AssistiveInformation from './AssistiveInformation'
  import CardTitle from '../../props/CardTitle'
  import DiagnosticInformation from './DiagnosticInformation'
  import FlareUpsInformation from './FlareUpsInformation'
  import FunctionalImpactInformation from './FunctionalImpactInformation'
  import JointStabilityInformation from './JointStabilityInformation'
  import MedicalInformation from './MedicalInformation'
  import MotionInformation from './MotionInformation'
  import OtherInformation from './OtherInformation'
  import OtherExamInformation from './OtherExamInformation'
  import RationaleInformation from './RationaleInformation'
  import RemainingFunctionInformation from './RemainingFunctionInformation'
  import RemarksInformation from './RemarksInformation'
  import RepeatedUseInformation from './RepeatedUseInformation'
  import SurgicalInformation from './SurgicalInformation'
  import VeteransInformation from './VeteransInformation'
  // mixins
  import DefaultMixins from '@/components/mixins/index'
  // constants mixin
  import ScrollTo from '@/constants/scrollTo'
  // knee navigation
  import KneeNavigation from './KneeNavigation'
  export default {
    components: {
      AdditionalInformation,
      AdditionalQuestionInformation,
      AnkylosisInformation,
      AssistiveInformation,
      CardTitle,
      DiagnosticInformation,
      FlareUpsInformation,
      FunctionalImpactInformation,
      JointStabilityInformation,
      MedicalInformation,
      MotionInformation,
      KneeNavigation,
      OtherInformation,
      OtherExamInformation,
      RationaleInformation,
      RemainingFunctionInformation,
      RemarksInformation,
      RepeatedUseInformation,
      SurgicalInformation,
      VeteransInformation
    },
    mixins: [
      DefaultMixins,
      ScrollTo
    ],
    data: () => ({
      fab: false,
      icon: 'keyboard_arrow_up',
      offsetTop: 0,
      drawer: true
    }),
    methods: {
      scrollToTop () {
        window.scrollTo(0, 0)
      }
    }
  }
</script>
<style lang="stylus" scoped>
.card-border
  border-top-left-radius: 10px
  border-top-right-radius: 10px

.image:hover
  background-color: #2A457E
.card-index
  z-index: 0
</style>
