<template>
  <v-flex>
  	<v-navigation-drawer
      v-model="drawer"
      permanent
      absolute
      floating
      mobile-break-point
      permanent
      stateless
      class="ml-2 card-index">
      <v-list>
        <v-list-tile
          value="true"
          v-for="(item, index) in scrollto"
          :key="index"
          class="pointer image black--text">
          <v-list-tile-content class="pointer">
            <v-list-tile-title
              v-scroll-to="{el: item.el ,offset: item.offset}"
              class="font-weight-medium subheading black--text"
               v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </v-flex>
</template>
<script>
  // constants mixin
  import ScrollTo from '@/constants/scrollTo'
  export default {
    mixins: [ScrollTo],
    data: () => ({
      drawer: true
    })
  }
</script>