<template>
  <v-card class="pa-4" id="initial-range-of-motion-info" style="background-color: #CCDEF3;">
    <v-layout column wrap>

      <v-flex xs12>
        <card-header
          :titles="items" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="text-xs-center align-center">
          <v-flex xs12 md1>
            <card-text text="Right" />
          </v-flex>

          <v-flex xs12 md11>
            <v-layout column wrap class="justify-center">
              <v-flex xs12>
                <v-layout row wrap class="mt-3 align-center">
                  <v-flex xs12 md2>
                    <card-text text="Flexion in degrees (0-140)" />
                  </v-flex>

                  <v-flex xs12 md10>
                    <v-layout column wrap>
                      <v-flex>
                        <v-layout row wrap class="align-center">
                          <v-flex xs12 md3>
                            <card-text text="Active" />
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textfield" v-model="motion.rightFlexionActiveTypeText" inputType="text"/>
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textfield" v-model="motion.rightFlexionActiveTypeNumber" inputType="number"/>
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textarea" v-model="motion.rightFlexionactiveArea"/>
                          </v-flex>
                        </v-layout>
                        <v-divider class="pa-2 mx-2" />
                      </v-flex>

                      <v-flex>
                        <v-layout row wrap class="align-center">
                          <v-flex xs12 md3>
                            <card-text text="Passive" />
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textfield" v-model="motion.rightFlexionPassiveTypeText" inputType="text"/>
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textfield" v-model="motion.rightFlexionPassiveTypeNumber" inputType="number"/>
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textarea" v-model="motion.rightFlexionPassiveArea"/>
                          </v-flex>
                        </v-layout>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
                <v-divider />
              </v-flex>

              <v-flex xs12>
                 <v-layout row wrap class="mt-3 align-center">
                  <v-flex xs12 md2>
                    <card-text text="Extension (140-0)" />
                  </v-flex>

                  <v-flex xs12 md10>
                    <v-layout column wrap>
                      <v-flex>
                        <v-layout row wrap class="align-center">
                          <v-flex xs12 md3>
                            <card-text text="Active" />
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textfield" v-model="motion.rightExtensionActiveTypeText" inputType="text"/>
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textfield" v-model="motion.rightExtensionActiveTypeNumber" inputType="number"/>
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textarea" v-model="motion.rightExtensionActiveArea"/>
                          </v-flex>
                        </v-layout>
                        <v-divider class="pa-2 mx-2" />
                      </v-flex>

                      <v-flex>
                        <v-layout row wrap class="align-center">
                          <v-flex xs12 md3>
                            <card-text text="Passive" />
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textfield" v-model="motion.rightExtensionPassiveTypeText" inputType="text"/>
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textfield" v-model="motion.lrightExtensionPassiveTypeNumber" inputType="number"/>
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textarea" v-model="motion.rightExtensionPassiveArea"/>
                          </v-flex>
                        </v-layout>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="text-xs-center align-center">
          <v-flex xs12 md1>
            <card-text text="Left" />
          </v-flex>

          <v-flex xs12 md11>
            <v-layout column wrap class="justify-center">
              <v-flex xs12>
                <v-layout row wrap class="mt-3 align-center">
                  <v-flex xs12 md2>
                    <card-text text="Extension (140-0)" />
                  </v-flex>

                  <v-flex xs12 md10>
                    <v-layout column wrap>
                      <v-flex xs12>
                        <v-layout row wrap class="align-center">
                          <v-flex xs12 md3>
                            <card-text text="Active" />
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textfield" v-model="motion.leftFlexionActiveTypeText" inputType="text" />
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textfield" v-model="motion.leftFlexionActiveTypeNumber" inputType="number" />
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textarea" v-model="motion.leftFlexionActiveArea" />
                          </v-flex>
                        </v-layout>
                        <v-divider class="pa-2 mx-2" />
                      </v-flex>

                      <v-flex xs12>
                        <v-layout row wrap class="align-center">
                          <v-flex xs12 md3>
                            <card-text text="Passive" />
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textfield" v-model="motion.leftFlexionPassiveTypeText" inputType="text" />
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textfield" v-model="motion.leftFlexionPassiveTypeNumber" inputType="number"/>
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textarea" v-model="motion.leftFlexionPassiveArea"/>
                          </v-flex>
                        </v-layout>
                      </v-flex>                    
                    </v-layout>
                  </v-flex>
                </v-layout>
                <v-divider />
              </v-flex>

              <v-flex xs12>
                 <v-layout row wrap class="mt-3 align-center">
                  <v-flex xs12 md2>
                    <card-text text="Extension (140-0)" />
                  </v-flex>

                  <v-flex xs12 md10>
                    <v-layout column wrap>
                      <v-flex xs12>
                        <v-layout row wrap class="align-center">
                          <v-flex xs12 md3>
                            <card-text text="Active" />
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textfield" v-model="motion.leftExtensionActiveTypeText" inputType="text"/>
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textfield" v-model="motion.leftExtensionActiveTypeNumber" inputType="number"/>
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textarea" v-model="motion.leftExtensionActiveArea"/>
                          </v-flex>
                        </v-layout>
                        <v-divider class="pa-2 mx-2" />
                      </v-flex>

                      <v-flex xs12>
                        <v-layout row wrap class="align-center">
                          <v-flex xs12 md3>
                            <card-text text="Passive" />
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textfield" v-model="motion.leftExtensionPassiveTypeText" inputType="text"/>
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textfield" v-model="motion.leftExtensionPassiveTypeNumber" inputType="number"/>
                          </v-flex>

                          <v-flex xs12 md3>
                            <global field="textarea" v-model="motion.leftExtensionPassiveArea"/>
                          </v-flex>
                        </v-layout>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider />
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
  import CardHeader from '@/components/props/CardHeader'
  import CardText from '@/components/props/CardText'
  import Global from '@/components/props/Global'
  export default {
    components: {
      CardHeader,
      CardText,
      Global
    },
    data: () => ({
      items: [
        {
          title: '',
          flex: 'xs12 md1'
        },
        {
          title: '',
          flex: 'xs12 md2'
        },
        {
          title: '',
          flex: 'xs12 md2'
        },
        {
          title: 'ROM',
          flex: 'xs12 md2'
        },
        {
          title: 'Pain Score',
          flex: 'xs12 md2'
        },
        {
          title: 'Muscle Strength',
          flex: 'xs12 md3'
        }
      ],
      motion: {
        rightFlexionActiveTypeText: '',
        rightFlexionActiveTypeNumber: '',
        rightFlexionactiveArea: '',
        rightFlexionPassiveTypeText: '',
        rightFlexionPassiveTypeNumber: '',
        rightFlexionPassiveArea: '',
        rightExtensionActiveTypeText: '',
        rightExtensionActiveTypeNumber: '',
        rightExtensionActiveArea: '',
        rightExtensionPassiveTypeText: '',
        lrightExtensionPassiveTypeNumber: '',
        rightExtensionPassiveArea: '',
        leftFlexionActiveTypeText: '',
        leftFlexionActiveTypeNumber: '',
        leftFlexionActiveArea: '',
        leftFlexionPassiveTypeText: '',
        leftFlexionPassiveTypeNumber: '',
        leftFlexionPassiveArea: '',
        leftExtensionActiveTypeText: '',
        leftExtensionActiveTypeNumber: '',
        leftExtensionActiveArea: '',
        leftExtensionPassiveTypeText: '',
        leftExtensionPassiveTypeNumber: '',
        leftExtensionPassiveArea: ''
      }
    }),
    methods: {
      testPayload () {
        console.log(this.motion)
      }
    }
  }
</script>