<template>
  <v-card class="pa-4" id="other-exam-info" style="background-color: #CCDEF3;">
    <v-layout column wrap>

      <v-flex xs12>
        <card-header
          :titles="items" />
      </v-flex>
      
      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Crepitus" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global field="button" v-model="physical.crepitusButton" @add="" :btnItems="arrayItems" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global field="button" v-model="physical.crepitusButton1" @add="" :btnItems="arrayItems" />
          </v-flex>
          
          <v-flex xs12 md3>
            <global field="textarea" v-model="physical.crepitusArea" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Tenderness" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global class="mx-2" field="button" v-model="physical.rightTendernessButton" @add="" :btnItems="arrayItems" />

            <v-flex v-show="physical.rightTendernessButton === 0">
              <v-layout column wrap>
                <v-flex xs12 class="mt-2">
                  <span class="pr-5 mr-5">Location</span>
                  <global class="mx-3" field="textfield" v-model="physical.rightTendernessLocation" inputType="text"/>
                </v-flex>

                <v-flex xs12>
                  <span class="pr-5 mr-5">Severity</span>
                  <global class="mx-3" field="textfield" v-model="physical.rightTendernessSeverity" inputType="text"/>
                </v-flex>
                <v-flex xs12>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global class="mx-2" field="button" v-model="physical.leftTendernessButton" @add="" :btnItems="arrayItems" />

            <v-flex v-show="physical.leftTendernessButton === 0">
              <v-layout column wrap>
                <v-flex xs12 class="mt-2">
                  <span class="pr-5 mr-5">Location</span>
                  <global class="mx-3" field="textfield" v-model="physical.leftTendernessLocation" inputType="text"/>
                </v-flex>

                <v-flex xs12>
                  <span class="pr-5 mr-5">Severity</span>
                  <global class="mx-3" field="textfield" v-model="physical.leftTendernessSeverity" inputType="text"/>
                </v-flex>
                <v-flex xs12>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-flex>
          
          <v-flex xs12 md3>
            <global field="textarea" v-model="physical.tendernessArea" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Which condition Is the primary cause of tenderness?" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global field="button" v-model="physical.conditionButton" @add="" :btnItems="arrayItems" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global field="button" v-model="physical.conditionButton1" @add="" :btnItems="arrayItems" />
          </v-flex>
          
          <v-flex xs12 md3>
            <global field="textarea" v-model="physical.conditionArea" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Objective evidence of pain on weight-bearing" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global field="button" v-model="physical.evidenceOneButton" @add="" :btnItems="arrayItems" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global field="button" v-model="physical.evidenceOneButton1" @add="" :btnItems="arrayItems" />
          </v-flex>
          
          <v-flex xs12 md3>
            <global field="textarea" v-model="physical.evidenceOneArea" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Objective evidence of pain on non-weight-bearing" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global field="button" v-model="physical.evidenceTwoButton" @add="" :btnItems="arrayItems" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global field="button" v-model="physical.evidenceTwoButton1" @add="" :btnItems="arrayItems" />
          </v-flex>
          
          <v-flex xs12 md3>
            <global field="textarea" v-model="physical.evidenceTwoArea" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Swelling" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global field="button" v-model="physical.swellingButton" @add="" :btnItems="arrayItems" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global field="button" v-model="physical.swellingButton1" @add="" :btnItems="arrayItems" />
          </v-flex>
          
          <v-flex xs12 md3>
            <global field="textarea" v-model="physical.swellingArea" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Atrophy" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global class="mx-2" field="button" v-model="physical.rightAtrophyButton" @add="" :btnItems="arrayItems" />

            <v-flex v-show="physical.rightAtrophyButton === 0">
              <v-layout column wrap>
                <v-flex xs12 class="mt-2">
                  <span class="pr-5 mr-5">Location</span>
                  <global class="mx-3" field="textfield" v-model="physical.rightAtrophyLocation" inputType="text" />
                </v-flex>

                <v-flex xs12>
                  <span class="pr-5 mr-3">Measurement</span>
                  <global class="mx-3" field="textfield" v-model="physical.rightAtrophyMeasurement" inputType="text" />
                </v-flex>
              </v-layout>
            </v-flex>
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global class="mx-2" field="button" v-model="physical.leftAtrophyButton" @add="" :btnItems="arrayItems" />

            <v-flex v-show="physical.leftAtrophyButton === 0">
              <v-layout column wrap>
                <v-flex xs12 class="mt-2">
                  <span class="pr-5 mr-5">Location</span>
                  <global class="mx-3" field="textfield" v-model="physical.leftAtrophyLocation" inputType="text" />
                </v-flex>

                <v-flex xs12>
                  <span class="pr-5 mr-3">Measurement</span>
                  <global class="mx-3" field="textfield" v-model="physical.leftAtrophyMeasurement" inputType="text" />
                </v-flex>
                <v-flex xs12>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-flex>
          
          <v-flex xs12 md3>
            <global field="textarea" v-model="physical.atrophyArea" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Deformity" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global field="button" v-model="physical.deformityButton" @add="" :btnItems="arrayItems" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global field="button" v-model="physical.deformityButton1" @add="" :btnItems="arrayItems" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="physical.deformityArea" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Gait" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global class="mx-2" field="button" v-model="physical.rightGaitButton" @add="" :btnItems="arrayItems" />

            <v-flex v-show="physical.rightGaitButton === 0">
              <v-layout column wrap>
                <v-flex xs12 class="mt-2">
                  <span class="pr-5 mr-5">Severity</span>
                  <global class="mx-3" field="textfield" v-model="physical.rightGaitSeverity" inputType="text" />
                </v-flex>
                <v-flex xs12>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global class="mx-2" field="button" v-model="physical.leftGaitButton" @add="" :btnItems="arrayItems" />

            <v-flex v-show="physical.leftGaitButton === 0">
              <v-layout column wrap>
                <v-flex xs12 class="mt-2">
                  <span class="pr-5 mr-5">Severity</span>
                  <global class="mx-3" field="textfield" v-model="physical.leftGaitSeverity" inputType="text" />
                </v-flex>
                <v-flex xs12>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-flex>
          
          <v-flex xs12 md3>
            <global field="textarea" v-model="physical.gaitArea" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Leg Length Discrepancy" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global class="mx-2" field="button" v-model="physical.rightLegButton" @add="" :btnItems="arrayItems" />

            <v-flex v-show="physical.rightLegButton === 0">
              <v-layout column wrap>
                <v-flex xs12 class="mt-2">
                  <span class="pr-5 mr-3">Measurement</span>
                  <global class="mx-3" field="textfield" v-model="physical.rightLegMeasurement" inputType="text" />
                </v-flex>
              </v-layout>
            </v-flex>
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global class="mx-2" field="button" v-model="physical.leftLegButton" @add="" :btnItems="arrayItems" />

            <v-flex v-show="physical.leftLegButton === 0">
              <v-layout column wrap>
                <v-flex xs12 class="mt-2">
                  <span class="pr-5 mr-3">Measurement</span>
                  <global class="mx-3" field="textfield" v-model="physical.leftLegMeasurement" inputType="text" />
                </v-flex>
              </v-layout>
            </v-flex>
          </v-flex>
          
          <v-flex xs12 md3>
            <global field="textarea" v-model="physical.legArea" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Scar" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="text-xs-center align-center">

              <v-flex xs12 md4 class="px-2">
                <global class="mx-2" field="button" v-model="physical.rightScarButton" @add="" :btnItems="arrayItems" />

                <v-flex v-show="physical.rightScarButton === 0">
                  <v-layout column wrap>
                    <v-flex xs12 class="mt-2">
                      <span class="pr-5 mr-5">Location</span>
                      <global class="mx-3" field="textfield" v-model="physical.rightScarLocation" inputType="text" />
                    </v-flex>

                    <v-flex xs12>
                      <span class="pr-5 mr-3">Measurement</span>
                      <global class="mx-3" field="textfield" v-model="physical.rightScarMeasurement" inputType="text" />
                    </v-flex>
                    <v-flex xs12>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-flex>

              <v-flex xs12 md4 class="px-2">
                <global class="mx-2" field="button" v-model="physical.leftScarButton" @add="" :btnItems="arrayItems" />

                <v-flex v-show="physical.leftScarButton === 0">
                  <v-layout column wrap>
                    <v-flex xs12 class="mt-2">
                      <span class="pr-5 mr-5">Location</span>
                      <global class="mx-3" field="textfield" v-model="physical.leftScarLocation" inputType="text" />
                    </v-flex>

                    <v-flex xs12>
                      <span class="pr-5 mr-3">Measurement</span>
                      <global class="mx-3" field="textfield" v-model="physical.leftScarMeasurement" inputType="text" />
                    </v-flex>
                    <v-flex xs12>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-flex>
             
              <v-flex xs12 md4>
                <global field="textarea" v-model="physical.scarArea" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Is the scar painful or unstable; have a total area equal to or greater than 39 square cm (6 square inches); or are located on the head, face or neck?" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global field="button" v-model="physical.scarIssueButton" @add="" :btnItems="arrayItems" />
          </v-flex>

          <v-flex xs12 md3 class="px-2">
            <global field="button" v-model="physical.scarIssueButton1" @add="" :btnItems="arrayItems" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="physical.scarIssueArea" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
  import CardHeader from '@/components/props/CardHeader'
  import CardText from '@/components/props/CardText'
  import Global from '@/components/props/Global'
  import swal from 'sweetalert'

  // mixins
  import knee from '@/constants/knee'

  export default {
    components: {
      CardHeader,
      CardText,
      Global
    },
    mixins: [knee],
    data: () => ({
      show: false,
      arrayItems: ['Yes', 'No'],
      items: [
        {
          title: '',
          flex: 'xs12 md3'
        },
        {
          title: 'Right Knee',
          flex: 'xs12 md3'
        },
        {
          title: 'Right Knee',
          flex: 'xs12 md3'
        },
        {
          title: 'Comments',
          flex: 'xs12 md3'
        }
      ],
      physical: {
        crepitusButton: '',
        crepitusButton1: '',
        crepitusArea: '',
        rightTendernessButton: '',
        rightTendernessLocation: '',
        rightTendernessSeverity: '',
        leftTendernessButton: '',
        leftTendernessLocation: '',
        leftTendernessSeverity: '',
        tendernessArea: '',
        conditionButton: '',
        conditionButton1: '',
        conditionArea: '',
        evidenceOneButton: '',
        evidenceOneButton1: '',
        evidenceOneArea: '',
        evidenceTwoButton: '',
        evidenceTwoButton1: '',
        evidenceTwoArea: '',
        swellingButton: '',
        swellingButton1: '',
        swellingArea: '',
        rightAtrophyButton: '',
        rightAtrophyLocation: '',
        rightAtrophyMeasurement: '',
        leftAtrophyButton: '',
        leftAtrophyLocation: '',
        leftAtrophyMeasurement: '',
        atrophyArea: '',
        deformityButton: '',
        deformityButton1: '',
        deformityArea: '',
        rightGaitButton: '',
        rightGaitSeverity: '',
        leftGaitButton: '',
        leftGaitSeverity: '',
        gaitArea: '',
        rightLegButton: '',
        rightLegMeasurement: '',
        leftLegButton: '',
        leftLegMeasurement: '',
        legArea: '',
        rightScarButton: '',
        rightScarLocation: '',
        rightScarMeasurement: '',
        leftScarButton: '',
        leftScarLocation: '',
        leftScarMeasurement: '',
        scarArea: '',
        scarIssueButton: '',
        scarIssueButton1: '',
        scarIssueArea: ''
      }
    }),
    methods: {
      showFields (val) {
        if (val === 0) {
          this.show = true
        } else {
          this.show = false
        }
      },
      testPayload () {
        console.log(this.physical)
      },
      isClicked () {
        swal({
          title: 'Add Ankle DBQ',
          text: 'Shin splints affect the ankle ROM, Ankle DBQ will be added.',
          buttons: {
            text: 'Continue',
            cancel: 'Close'
          }
        })
      }
    }
  }
</script>