<template>
  <v-card class="pa-4" id="other-info" style="background-color: #CCDEF3;">

    <v-layout column wrap>
      <v-flex xs12>
        <v-layout row wrap
          class="align-center">
          <v-flex xs12 md8 lg10>
            <card-text :text="part84.veteranQuestion.title" />
          </v-flex>

          <v-flex xs12 md4 lg2>
            <v-btn-toggle v-model="part84.veteranQuestion.model" mandatory>
              <v-flex v-for="(item, index) in arrayItems" :key="index">
                <v-btn style="background-color: #436C9D;" large
                @click=""
                class="pa-4">{{ item }}</v-btn>
              </v-flex>
            </v-btn-toggle>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
  	  </v-flex>

      <v-flex xs12 v-show="part84.veteranQuestion.model === 0">
        <card-text :text="part84.veteranQuestionShow.title" />
        <global v-model="part84.veteranQuestionShow.model" :field="part84.veteranQuestionShow.field" />
      </v-flex>
  	</v-layout>
  </v-card>
</template>
<script>
  import CardHeader from '@/components/props/CardHeader'
  import CardText from '@/components/props/CardText'
  import Global from '@/components/props/Global'

  // mixins
  import knee from '@/constants/knee'

  export default {
    components: {
      CardHeader,
      CardText,
      Global
    },
    mixins: [knee],
    data: () => ({
      arrayItems: ['Yes', 'No']
    }),
    methods: {
      testPayload () {
        let payload = {}
        global._.each(this.part84, function (value, key) {
          payload[key] = value.model
        })
        console.log(payload)
      }
    }
  }
</script>