<template>
  <v-card class="pa-4" id="rationale-info" style="background-color: #CCDEF3;">
    <v-layout column wrap>
      
      <v-flex xs12>
        <global v-model="part96.rationale.model" :field="part96.rationale.field" />
      </v-flex>

    </v-layout>
  </v-card>
</template>
<script>
  import Global from '@/components/props/Global'

  // mixins
  import knee from '@/constants/knee'

  export default {
    components: {
      Global
    },
    mixins: [knee],
    methods: {
      testPayload () {
        let payload = {}
        global._.each(this.part96, function (value, key) {
          payload[key] = value.model
        })
        console.log(payload)
      }
    }
  }
</script>