<template>
  <v-card class="pa-4" id="remaining-function-info" style="background-color: #CCDEF3;">
    <v-layout column wrap>

      <v-flex xs12>
        <v-flex>
          <v-layout row wrap
            class="align-center">
            <v-flex xs12 md9>
              <card-text :text="part85.extremitiesQuestion.title" />
            </v-flex>

            <v-flex xs12 md3>
              <global class="ma-2" v-model="part85.extremitiesQuestion.model" :field="part85.extremitiesQuestion.field" :choices="arrayItems" />
            </v-flex>
          </v-layout>
          <v-divider class="pa-2" />
        </v-flex>

        <v-flex>
          <v-layout row wrap
            class="align-center">
            <v-flex xs12 md7>
              <card-text :text="part85.extremitiesQuestion1.title" />
            </v-flex>

            <v-flex xs12 md5>
              <global class="ma-2" :select="isDisabled" v-model="part85.extremitiesQuestion1.model" :field="part85.extremitiesQuestion1.field" :choices="arraySelectItems" />
            </v-flex>
          </v-layout>
          <v-divider class="pa-2" />
        </v-flex>

        <v-flex>
          <v-layout row wrap
            class="align-center">
            <v-flex xs12>
              <card-text :text="part85.extremitiesQuestion2.title" />
            </v-flex>

            <v-flex xs12>
              <global class="ma-2" v-model="part85.extremitiesQuestion2.model" :field="part85.extremitiesQuestion2.field" />
            </v-flex>
          </v-layout>
          <v-divider class="pa-2" />
        </v-flex>
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
  import CardHeader from '@/components/props/CardHeader'
  import CardText from '@/components/props/CardText'
  import Global from '@/components/props/Global'

  // mixins
  import knee from '@/constants/knee'

  export default {
    components: {
      CardHeader,
      CardText,
      Global
    },
    mixins: [knee],
    data: () => ({
      arrayItems: ['Yes', 'No', 'N/A'],
      arraySelectItems: ['Right Upper extremity', 'Left Upper extremity', 'Bilateral upper extremities', 'N/A']
    }),
    computed: {
      isDisabled () {
        return this.part85.extremitiesQuestion.model === 'No' || this.part85.extremitiesQuestion.model === 'N/A'
      }
    },
    methods: {
      testPayload () {
        let payload = {}
        global._.each(this.part85, function (value, key) {
          payload[key] = value.model
        })
        console.log(payload)
      }
    }
  }
</script>