<template>
  <v-card class="pa-4" id="repeated-use-info" style="background-color: #CCDEF3;">
    <v-layout column wrap>

      <v-flex xs12>
        <card-header
        :titles="items" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="align-center">
          <v-flex xs12 md4>
            <card-text text="Is the Veteran being examined immediately after repetitive use over time?" />
          </v-flex>

          <v-flex xs12 md4>
            <global class="mx-5" field="button" v-model="repeatedUse.kneeQuestionOneButton" @add="" :btnItems="arrayItems" />
          </v-flex>

          <v-flex xs12 md4>
            <global class="mx-5" field="button" v-model="repeatedUse.kneeQuestionOneButton1" @add="" :btnItems="arrayItems" />
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md4>
            <card-text text="If the examination is medically inconsistent with the Veterans statements of functional loss, please explain:" />
          </v-flex>

          <v-flex xs12 md4>
            <global field="textarea" v-model="repeatedUse.kneeQuestionTwoArea" />
          </v-flex>

          <v-flex xs12 md4>
            <global field="textarea" v-model="repeatedUse.kneeQuestionTwoArea1"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md4>
            <card-text text="If the examination is medically inconsistent with the Veterans statements of functional loss, please explain:" />
          </v-flex>

          <v-flex xs12 md4>
            <global class="mx-5" field="button" v-model="repeatedUse.kneeQuestionThreeButton" @add="" :btnItems="arrayItems" />
          </v-flex>

          <v-flex xs12 md4>
            <global class="mx-5" field="button" v-model="repeatedUse.kneeQuestionThreeButton1" @add="" :btnItems="arrayItems" />
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md4>
            <card-text text="If unable to say without mere speculation, please explain:" />
          </v-flex>

          <v-flex xs12 md4>
            <global field="textarea" v-model="repeatedUse.kneeQuestionFourArea" />
          </v-flex>

          <v-flex xs12 md4>
            <global field="textarea" v-model="repeatedUse.kneeQuestionFourArea1"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md4>
            <card-text text="Select all factors that cause this functional loss:" />
          </v-flex>

          <v-flex xs12 md4>
            <v-layout column wrap>
              <global class="mx-2" field="checkbox" v-model="repeatedUse.kneeQuestionFiveCheckBox" :checkBoxItems="arraySelectItems" />

              <global field="textfield" v-model="repeatedUse.kneeQuestionFiveText" label="Other/s" inputType="text" />
            </v-layout>
          </v-flex>

          <v-flex xs12 md4>
            <v-layout column wrap>
              <global class="mx-2" field="checkbox" v-model="repeatedUse.kneeQuestionFiveCheckBox1" :checkBoxItems="arraySelectItems"/>

              <global field="textfield" v-model="repeatedUse.kneeQuestionFiveText1" label="Other/s" inputType="text" />
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md4>
            <card-text text="If unable to say without mere speculation, please explain:" />
          </v-flex>

          <v-flex xs12 md4>
            <global class="mx-5" field="button" v-model="repeatedUse.kneeQuestionSixButton" @add="" :btnItems="arrayBtnItems" />
          </v-flex>

          <v-flex xs12 md4>
            <global class="mx-5" field="button" v-model="repeatedUse.kneeQuestionSixButton1" @add="" :btnItems="arrayBtnItems" />
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
  import CardHeader from '@/components/props/CardHeader'
  import CardText from '@/components/props/CardText'
  import Global from '@/components/props/Global'
  export default {
    components: {
      CardHeader,
      CardText,
      Global
    },
    data: () => ({
      arrayBtnItems: ['Yes', 'No'],
      arrayItems: ['Yes', 'No', 'N/A'],
      arraySelectItems: [
        {
          label: 'N/A',
          model: null
        },
        {
          label: 'Pain',
          model: null
        },
        {
          label: 'Fatigue',
          model: null
        },
        {
          label: 'Weakness',
          model: null
        },
        {
          label: 'Lack of Endurance',
          model: null
        },
        {
          label: 'Incoordination',
          model: null
        }
      ],
      items: [
        {
          title: '',
          flex: 'xs12 md4'
        },
        {
          title: 'Right Knee',
          flex: 'xs12 md4'
        },
        {
          title: 'Left Knee',
          flex: 'xs12 md4'
        }
      ],
      repeatedUse: {
        kneeQuestionOneButton: '',
        kneeQuestionOneButton1: '',
        kneeQuestionTwoArea: '',
        kneeQuestionTwoArea1: '',
        kneeQuestionThreeButton: '',
        kneeQuestionThreeButton1: '',
        kneeQuestionFourArea: '',
        kneeQuestionFourArea1: '',
        kneeQuestionFiveCheckBox: '',
        kneeQuestionFiveCheckBox1: '',
        kneeQuestionFiveText: '',
        kneeQuestionFiveText1: '',
        kneeQuestionSixButton: '',
        kneeQuestionSixButton1: ''
      }
    }),
    methods: {
      testPayload () {
        console.log(this.repeatedUse)
      }
    }
  }
</script>
