<template>
  <v-card class="pa-4" id="surgical-info" style="background-color: #CCDEF3;">
    <v-layout column wrap>

      <v-flex xs12>
        <card-header
          :titles="items"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="text-xs-center align-center">
          <v-flex xs12 md3>
            <global field="dateField" v-model="surgical.procedure1Date" />
          </v-flex>

          <v-flex xs12 md4>
            <global field="textfield" v-model="surgical.procedure1TypeText" inputType="text"/>
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="surgical.procedure1Select" :choices="arrayItems"/>
          </v-flex>

          <v-flex xs12 md2>
            <global field="textfield" v-model="surgical.procedure1TypeNumber" inputType="number" />
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="text-xs-center align-center">
          <v-flex xs12 md3>
            <global field="dateField" v-model="surgical.procedure2Date" />
          </v-flex>

          <v-flex xs12 md4>
            <global field="textfield" v-model="surgical.procedure2TypeText"inputType="text"/>
          </v-flex>

          <v-flex xs12 md3>
            <global field="select" v-model="surgical.procedure2Select" :choices="arrayItems"/>
          </v-flex>

          <v-flex xs12 md2>
            <global field="textfield" v-model="surgical.procedure2TypeNumber"inputType="number"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2"/>
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
  import CardHeader from '@/components/props/CardHeader'
  import Global from '@/components/props/Global'

  // mixins
  import knee from '@/constants/knee'

  export default {
    components: {
      CardHeader,
      Global
    },
    mixins: [knee],
    data: () => ({
      arrayItems: ['Right knee', 'Left knee', 'Both knees', 'No', 'N/A'],
      items: [
        {
          title: 'DATE',
          flex: 'xs12 md3'
        },
        {
          title: 'TYPE OF SURGERY',
          flex: 'xs12 md4'
        },
        {
          title: 'LATERALITY',
          flex: 'xs12 md3'
        },
        {
          title: 'PAGE',
          flex: 'xs12 md2'
        }
      ],
      surgical: {

      }
    }),
    methods: {
      testPayload () {
        console.log(this.surgical)
      }
    }
  }
</script>