<template>
  <v-card class="pa-4" id="veratans-info" style="background-color: #CCDEF3;">
    <v-layout column wrap>
      
      <v-flex xs12>
        <v-layout>
          <v-spacer></v-spacer>
          <v-card-title class="font-weight-light subheading">
          Details, date of records, page#
        </v-card-title>
        </v-layout>
      </v-flex>

      <v-divider class="ma-2" />

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Recurrent subluxation(partial dislocation)" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="align-center">
              <v-flex xs12 md6>
                <global field="select" v-model="veteran.subluxationSelect" :choices="arrayItems" />
              </v-flex>
              
              <v-flex xs12 md6>
                <global field="textarea" v-model="veteran.subluxationArea" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Lateral instability" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="align-center">
              <v-flex xs12 md6>
                <global field="select" v-model="veteran.instabilitySelect" :choices="arrayItems"/>
              </v-flex>

              <v-flex xs12 md6>
                <global field="textarea" v-model="veteran.instabilityArea" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Recurrent effusion" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="align-center">
              <v-flex xs12 md6>
                <global field="select" v-model="veteran.effusionSelect" :choices="arrayItems"/>
              </v-flex>
              
              <v-flex xs12 md6>
                <global field="textarea" v-model="veteran.effusionArea" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Recurrent patellar dislocation" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="align-center">
              <v-flex xs12 md6>
                <global field="select" v-model="veteran.dislocationSelect" :choices="arrayItems"/>
              </v-flex>

              <v-flex xs12 md6>
                <global field="textarea" v-model="veteran.dislocationArea" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>
      
      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="'Shin splints' (medial tibial stress syndrome)" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="align-center">
              <v-flex xs12 md6>
                <global field="select" v-model="veteran.syndromeSelect" :choices="arrayItems"/>
              </v-flex>
              
              <v-flex xs12 md6>
                <global field="textarea" v-model="veteran.syndromeArea" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="If the answer to the previous question is yes, do the shin aplints affect the ankle ROM?'" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="align-center">
              <v-flex xs12 md6>
                <global class="mx-2 pa-5" field="button" v-model="veteran.ankleBtn" @add="isClicked" :btnItems="arrayItems" />
              </v-flex>

              <v-flex xs12 md6>
                <global field="textarea" v-model="veteran.ankleArea" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Stress fracture of the lower leg" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="align-center">
              <v-flex xs12 md6>
                <global field="select" v-model="veteran.fractureSelect" :choices="arrayItems"/>
              </v-flex>
              
              <v-flex xs12 md6>
                <global field="textarea" v-model="veteran.fractureArea" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3> 
            <card-text text="Chronic exertional compartment syndrome" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="align-center">
              <v-flex xs12 md6>
                <global field="select" v-model="veteran.compartmentSyndromeSelect" :choices="arrayItems"/>
              </v-flex>
              
              <v-flex xs12 md6>
                <global field="textarea" v-model="veteran.compartmentSyndromeArea" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Acquired and/or traumatic genu recurvatum with objectively demonstrated weakness and insecurity in weight-bearing." />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="align-center">
              <v-flex xs12 md6>
                <global field="select" v-model="veteran.veteranConditionSelect" :choices="arrayItems"/>
              </v-flex>
              
              <v-flex xs12 md6>
                <global field="textarea" v-model="veteran.veteranConditionArea" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3> 
            <card-text text="Meniscal dislocation" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="align-center">
              <v-flex xs12 md6>
                <global field="select" v-model="veteran.MeniscalDislocationSelect" :choices="arrayItems"/>
              </v-flex>

              <v-flex xs12 md6>
                <global field="textarea" v-model="veteran.MeniscalDislocationArea" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Meniscal tear" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="align-center">
              <v-flex xs12 md6>
                <global field="select" v-model="veteran.MeniscalTearSelect" :choices="arrayItems"/>
              </v-flex>
              
              <v-flex xs12 md6>
                <global field="textarea" v-model="veteran.MeniscalTearArea" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Frequent episodes of joint 'locking'" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="align-center">
              <v-flex xs12 md6>
                <global field="select" v-model="veteran.lockingSelect" :choices="arrayItems"/>
              </v-flex>
             
              <v-flex xs12 md6>
                <global field="textarea" v-model="veteran.lockingArea" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Frequent episodes of joint pain" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="align-center">
              <v-flex xs12 md6>
                <global field="select" v-model="veteran.painSelect" :choices="arrayItems"/>
              </v-flex>
              
              <v-flex xs12 md6>
                <global field="textarea" v-model="veteran.painArea" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
  import CardText from '@/components/props/CardText'
  import Global from '@/components/props/Global'
  import swal from 'sweetalert'
  export default {
    components: {
      CardText,
      Global
    },
    data: () => ({
      arrayItems: ['Yes', 'No', 'N/A'],
      veteran: {
        subluxationSelect: '',
        subluxationArea: '',
        instabilitySelect: '',
        instabilityArea: '',
        effusionSelect: '',
        effusionArea: '',
        dislocationSelect: '',
        dislocationArea: '',
        syndromeSelect: '',
        syndromeArea: '',
        ankleBtn: '',
        ankleArea: '',
        fractureSelect: '',
        fractureArea: '',
        compartmentSyndromeSelect: '',
        compartmentSyndromeArea: '',
        veteranConditionSelect: '',
        veteranConditionArea: '',
        MeniscalDislocationSelect: '',
        MeniscalDislocationArea: '',
        lockingSelect: '',
        lockingArea: ''
      }
    }),
    methods: {
      testPayload () {
        console.log(this.veteran)
      },
      isClicked () {
        swal({
          title: 'Add Ankle DBQ',
          text: 'Shin splints affect the ankle ROM, Ankle DBQ will be added.',
          buttons: {
            text: 'Continue',
            cancel: 'Close'
          }
        })
      }
    }
  }
</script>