<template>
  <v-flex>
    <v-card-text class="justify-right font-weight-light subheading pt-0">{{ text }}</v-card-text>
  </v-flex>
</template>
<script>
  export default {
    props: {
      text: String
    }
  }
</script>
