<template>
  <v-card>
  	<v-card-title class="justify-right white--text font-weight-medium title" style="background-color: #2A457E;">{{ title }}</v-card-title>
  </v-card>
</template>
<script>
  export default {
    props: {
      title: String
    }
  }
</script>