<template>
  <v-flex :class="responsive">
    <v-text-field
      v-if="isTextField && isTextType(inputType)"
      :label="label"
      :value="value"
      :placeholder="placeholder"
      @input="handleInput"
      solo
      :type="inputType"
      class="mx-2"
    ></v-text-field>

    <v-textarea
      v-if="isTextArea"
      solo
      name="input-7-4"
      :label="label"
      :value="value"
      @input="handleInput"
      class="mx-2"
      auto-grow
    ></v-textarea>
    
    <v-menu
      :close-on-value-click="false"
      :nudge-right="40"
      :disabled="disabled"
      v-model="show"
      lazy
      offset-y
      full-width
      max-width="290px"
      min-width="290px"
    >
      <v-text-field
        v-if="isDate"
        slot="activator"
        placeholder="mm-dd-yyyy"
        :value="value"
        :disabled="disabled"
        @input="handleInput"
        v-bind="$attrs"
        clearable
        readonly
        solo
        append-icon="event"
        event-color="blue darken-4"
        class="mx-2"
      />
      <v-date-picker
        v-model="date"
        no-title
        @input="show = false"
      />
    </v-menu>
    
    <v-btn-toggle v-if="isButton" :value="value" @input="handleInput" mandatory>
      <v-flex
        v-for="(item, index) in btnItems" :key="index">
        <v-btn style="background-color: #436C9D;" large
        @click="item === 'Yes' ? $emit('add') : ''"
        class="pa-4">{{ item }}</v-btn>
      </v-flex>
    </v-btn-toggle>

    <v-autocomplete
      v-if="isAutocomplete"
      :value="value"
      :items="choices"
      placeholder="Select Option"
      solo
      :disabled="select"
      class="ma-2"
      @input="handleInput"
    />
    
    <v-flex
      v-for="(item, index) in checkBoxItems"
      :key="index"
      v-if="isCheckBox">
      <v-checkbox
        :label="item.label"
        :value="item.model"
        @input="handleInput" />
    </v-flex>
    </v-flex>
  </v-flex>
</template>

<script>
  import DatePicker from '@/components/props/DatePicker'
  export default {
    components: {
      DatePicker
    },
    props: {
      field: String,
      label: String,
      placeholder: String,
      responsive: String,
      value: [String, Number, Array],
      disabled: {
        type: Boolean,
        default: false
      },
      choices: [Array, Object],
      inputType: [String, Number],
      btnItems: [Array, Object],
      checkBoxItems: {
        type: [Array, Object],
        default: () => ({
          label: String,
          model: String
        })
      },
      select: Boolean
    },
    computed: {
      isTextField () {
        return (this.field === 'textfield')
      },
      isTextArea () {
        return (this.field === 'textarea')
      },
      isDate () {
        return (this.field === 'dateField')
      },
      isButton () {
        return (this.field === 'button')
      },
      isAutocomplete () {
        return (this.field === 'select')
      },
      isCheckBox () {
        return (this.field === 'checkbox')
      }
    },
    data () {
      return {
        show: false,
        date: null,
        textTypes: [
          'text',
          'number'
        ]
      }
    },
    methods: {
      formatDate (date) {
        if (!date) return null
        return date
      },
      handleInput (value) {
        this.$emit('input', value)
      },
      isTextType (type) {
        return this.textTypes.includes(type)
      }
    },
    watch: {
      date (val) {
        const formattedDate = this.formatDate(this.date)
        this.$emit('input', formattedDate)
      }
    }
  }
</script>
