<template>
  <v-card eight="500px">
  	<v-card-title class="font-weight-light display-2 white--text">New form</v-card-title>
  </v-card>
</template>
<script>
export default {
  props: {
    NewFormItem: {
      type: Object,
      default: () => {}
    }
  }
}
</script>