<template>
  <v-flex class="ma-4">
    <v-tabs
      v-model="active"
      slider-color="white"
      show-arrows>
      <v-tab
        class="card-border white--text title text-capitalize"
        v-for="(item, index) in items"
        :key="index"
        ripple
        style="background-color: #2A457E;"
        @click="item.title === '+' ? selectForm = true : goTo(item.route)"
        >
        {{ item.title }}
      </v-tab>
    </v-tabs>

    <v-flex xs12>
      <v-slide-y-transition mode="out-in">
        <router-view/>
      </v-slide-y-transition>
    </v-flex>

    <v-flex>
      <v-dialog v-model="selectForm" scrollable max-width="400px">
        <v-card>
          <v-card-title class="font-weight-light subheading white--text" style="background-color: #2A457E;">Add Form</v-card-title>
          <v-divider />
          <v-card-text style="height: 400px;" class="font-weight-light subheading">
            <v-radio-group v-model="selected" class="display-1"column v-for="(item, index) in parts" :key="index">
              <v-radio :label="item.label" :value="item.value"></v-radio>
            </v-radio-group>
          </v-card-text>
          <v-divider />
          <v-card-actions>
            <v-spacer />
            <v-btn color="blue darken-1" flat @click="selectForm = false">Close</v-btn>
            <v-btn color="blue darken-1" flat @click.stop="selectForm = false" @click="newForm">Add</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-flex>
    
  </v-flex>
</template>
<script>
  import DefaultMixins from '@/components/mixins/index'
  // constants for body parts
  import parts from '@/constants/parts'
  export default {
    data () {
      return {
        selectForm: false,
        selected: '',
        active: null,
        items: [
          {
            title: 'Initial Form',
            route: '/medical-template/profile'
          },
          {
            title: '+',
            route: ''
          }
        ]
      }
    },
    computed: {
      isSelected () {
        return this.selected === 'Diabetes' || this.selected === 'Hand/Finger' || this.selected === 'Heart'
      }
    },
    methods: {
      newForm () {
        if (this.selected.includes('Amputation')) {
          this.items.unshift(
            {
              title: 'Amputation',
              route: '/medical-template/amputation'
            }
          )
        } else if (this.selected.includes('Ankle')) {
          this.items.unshift(
            {
              title: 'Ankle',
              route: '/medical-template/ankle'
            }
          )
        } else if (this.selected.includes('Aid&Attend')) {
          this.items.unshift(
            {
              title: 'Aid&Attend',
              route: '/medical-template/aid'
            }
          )
        } else if (this.selected.includes('Bone')) {
          this.items.unshift(
            {
              title: 'Bone',
              route: '/medical-template/bone'
            }
          )
        } else if (this.selected.includes('Cspine')) {
          this.items.unshift(
            {
              title: 'Cspine',
              route: '/medical-template/c-spine'
            }
          )
        } else if (this.selected.includes('Endocrine')) {
          this.items.unshift(
            {
              title: 'Endocrine',
              route: '/medical-template/endocrine'
            }
          )
        } else if (this.selected.includes('Elbow')) {
          this.items.unshift(
            {
              title: 'Elbow',
              route: '/medical-template/elbow'
            }
          )
        } else if (this.selected.includes('Foot')) {
          this.items.unshift(
            {
              title: 'Foot',
              route: '/medical-template/foot'
            }
          )
        } else if (this.selected.includes('Hand/Finger')) {
          this.items.unshift(
            {
              title: 'Hand/Finger',
              route: '/medical-template/hand-and-finger'
            }
          )
        } else if (this.selected.includes('Hip Thigh')) {
          this.items.unshift(
            {
              title: 'Hip Thigh',
              route: '/medical-template/hip-thigh'
            }
          )
        } else if (this.selected.includes('Knee')) {
          this.items.unshift(
            {
              title: 'Knee',
              route: '/medical-template/knee'
            }
          )
        } else if (this.selected.includes('Non-Degen Arthritis')) {
          this.items.unshift(
            {
              title: 'Non-Degen Arthritis',
              route: '/medical-template/non-degen-arthritis'
            }
          )
        } else if (this.selected.includes('Muscle Injury')) {
          this.items.unshift(
            {
              title: 'Muscle Injury',
              route: '/medical-template/muscle-injury'
            }
          )
        } else if (this.selected.includes('Shoulder')) {
          this.items.unshift(
            {
              title: 'Shoulder',
              route: '/medical-template/shoulder'
            }
          )
        } else if (this.selected.includes('Tmj')) {
          this.items.unshift(
            {
              title: 'Tmj',
              route: '/medical-template/tmj'
            }
          )
        } else if (this.selected.includes('Tspine')) {
          this.items.unshift(
            {
              title: 'Tspine',
              route: '/medical-template/t-spine'
            }
          )
        } else if (this.selected.includes('Wrist')) {
          this.items.unshift(
            {
              title: 'Wrist',
              route: '/medical-template/wrist'
            }
          )
        } else if (this.selected.includes('Gen Med Compensation')) {
          this.items.unshift(
            {
              title: 'Gen Med Compensation',
              route: '/medical-template/gen-med-compensation'
            }
          )
        } else if (this.selected.includes('Gen Med Gulf War')) {
          this.items.unshift(
            {
              title: 'Gen Med Gulf War',
              route: '/medical-teplate/gen-med-gulf-war'
            }
          )
        } else if (this.selected.includes('Artery/Vein')) {
          this.items.unshift(
            {
              title: 'Artery/Vein',
              route: '/medical-template/artery-vein'
            }
          )
        } else if (this.selected.includes('Breast')) {
          this.items.unshift(
            {
              title: 'Breast',
              route: '/medical-template/breast'
            }
          )
        } else if (this.selected.includes('Chronic Fatigue')) {
          this.items.unshift(
            {
              title: 'Chronic Fatigue',
              route: '/medical-template/chronic-fatigue'
            }
          )
        } else if (this.selected.includes('Cns')) {
          this.items.unshift(
            {
              title: 'Cns',
              route: '/medical-template/cns'
            }
          )
        } else if (this.selected.includes('Cold Injury')) {
          this.items.unshift(
            {
              title: 'Cold Injury',
              route: '/medical-template/cold-injury'
            }
          )
        } else if (this.selected.includes('Cranial Nerve')) {
          this.items.unshift(
            {
              title: 'Cranial Nerve',
              route: '/medical-template/cranial-nerve'
            }
          )
        } else if (this.selected.includes('Diabetes')) {
          this.items.unshift(
            {
              title: 'Diabetes',
              route: '/medical-template/diabetes'
            }
          )
        } else if (this.selected.includes('Diabetic Neuropathy')) {
          this.items.unshift(
            {
              title: 'Diabetic Neuropathy',
              route: '/medical-template/diabetic-neuropathy'
            }
          )
        } else if (this.selected.includes('Ear Conditions')) {
          this.items.unshift(
            {
              title: 'Ear Conditions',
              route: '/medical-template/ear-condition'
            }
          )
        } else if (this.selected.includes('Hip/Thigh old')) {
          this.items.unshift(
            {
              title: 'Hip/Thigh old',
              route: '/medical-template/hip-thigh-old'
            }
          )
        } else if (this.selected.includes('Esophageal')) {
          this.items.unshift(
            {
              title: 'Esophageal',
              route: '/medical-template/esophageal'
            }
          )
        } else if (this.selected.includes('fibromyalgia')) {
          this.items.unshift(
            {
              title: 'fibromyalgia',
              route: '/medical-template/fibromyalgia'
            }
          )
        } else if (this.selected.includes('Gall Bladder/Pancreas')) {
          this.items.unshift(
            {
              title: 'Gall Bladder/Pancreas',
              route: '/medical-template/gall-bladder-pancreas'
            }
          )
        } else if (this.selected.includes('Gyno')) {
          this.items.unshift(
            {
              title: 'Gyno',
              route: '/medical-template/gyno'
            }
          )
        } else if (this.selected.includes('Headache')) {
          this.items.unshift(
            {
              title: 'Headache',
              route: '/medical-template/headache'
            }
          )
        } else if (this.selected.includes('Heart')) {
          this.items.unshift(
            {
              title: 'Heart',
              route: '/medical-template/heart'
            }
          )
        } else if (this.selected.includes('Hema/Lymphatic')) {
          this.items.unshift(
            {
              title: 'Hema/Lymphatic',
              route: '/medical-template/hema-lymphatic'
            }
          )
        } else if (this.selected.includes('Hernia')) {
          this.items.unshift(
            {
              title: 'Hernia',
              route: '/medical-template/hernia'
            }
          )
        } else if (this.selected.includes('Hypertension')) {
          this.items.unshift(
            {
              title: 'Hypertension',
              route: '/medical-template/hypertension'
            }
          )
        } else if (this.selected.includes('Infectious')) {
          this.items.unshift(
            {
              title: 'Infectious',
              route: '/medical-template/infectious'
            }
          )
        } else if (this.selected.includes('Intestinal SX')) {
          this.items.unshift(
            {
              title: 'Intestinal SX',
              route: '/medical-template/intestinal-sx'
            }
          )
        } else if (this.selected.includes('Intestines')) {
          this.items.unshift(
            {
              title: 'Intestines',
              route: '/medical-template/intestines'
            }
          )
        } else if (this.selected.includes('Intestines Infectious')) {
          this.items.unshift(
            {
              title: 'Intestines Infectious',
              route: '/medical-template/intestines-infectious'
            }
          )
        } else if (this.selected.includes('Kidney')) {
          this.items.unshift(
            {
              title: 'Kidney',
              route: '/medical-template/kidney'
            }
          )
        }
      }
    },
    mixins: [
      DefaultMixins,
      parts
    ]
  }
</script>
<style lang="stylus" scoped>
.card-border
  border-top-left-radius: 10px
  border-top-right-radius: 10px
</style>
