<template>
  <v-navigation-drawer
    persistent
    :mini-variant="miniVariant"
    :clipped="clipped"
    v-model="drawer"
    enable-resize-watcher
    fixed
    app>
    <v-list>
      <v-list-tile
        value="true"
        v-for="(item, index) in items"
        :key="index"
        class="pointer image"
        @click="goTo(item.route)">
        <v-list-tile-action>
          <v-icon color="blue darken-4" v-html="item.icon"></v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title
            class="font-weight-medium subheading black--text"
            v-text="item.title"></v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
  import { EVENT_NAVIGATION_DRAWER, EVENT_MINIVARIANT, EVENT_CLIPPED } from '@/constants/events'
  import DefaultMixins from '@/components/mixins/index'
  export default {
    data: () => ({
      miniVariant: false,
      clipped: false,
      drawer: true,
      items: [
        {
          title: 'Home',
          icon: 'fas fa-home',
          route: '/'
        },
        {
          title: 'Medical History',
          icon: 'fas fa-user-md',
          route: '/medical-template/profile'
        }
      ]
    }),
    created () {
      this.$eventHub.$on(EVENT_NAVIGATION_DRAWER, (data) => {
        this.drawer = data
      })

      this.$eventHub.$on(EVENT_MINIVARIANT, (data) => {
        this.miniVariant = data
      })

      this.$eventHub.$on(EVENT_CLIPPED, (data) => {
        this.clipped = data
      })
    },
    mixins: [
      DefaultMixins
    ]
  }
</script>
<style lang="stylus">
.image:hover
  background-color: #BDBDBD
  opacity:0.8
</style>