<template>
  <v-toolbar
    app
    :clipped-left="clipped">
    <v-toolbar-side-icon
      @click.stop="drawer = !drawer"
      @click="eventDrawer"></v-toolbar-side-icon>
    <v-btn icon @click.stop="miniVariant = !miniVariant"
      @click="eventMinivariant">
      <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
    </v-btn>
    <v-btn icon @click.stop="clipped = !clipped"
      @click="eventClipped">
      <v-icon>web</v-icon>
    </v-btn>
    <v-toolbar-title v-text="title"></v-toolbar-title>
  </v-toolbar>
</template>
<script>
  import { EVENT_NAVIGATION_DRAWER, EVENT_MINIVARIANT, EVENT_CLIPPED } from '@/constants/events'
  export default {
    data: () => ({
      clipped: false,
      miniVariant: true,
      drawer: false,
      title: 'Medical System'
    }),
    methods: {
      scrollTop () {
        window.scrollTo(0, 0)
      },
      eventClipped () {
        if (this.clipped === true) {
          this.$eventHub.$emit(EVENT_CLIPPED, false)
        } else {
          this.$eventHub.$emit(EVENT_CLIPPED, true)
        }
      },
      eventMinivariant () {
        if (this.miniVariant === true) {
          this.$eventHub.$emit(EVENT_MINIVARIANT, false)
        } else {
          this.$eventHub.$emit(EVENT_MINIVARIANT, true)
        }
      },
      eventDrawer () {
        if (this.drawer === true) {
          this.$eventHub.$emit(EVENT_NAVIGATION_DRAWER, false)
        } else {
          this.$eventHub.$emit(EVENT_NAVIGATION_DRAWER, true)
        }
      }
    }
  }
</script>